<launch>
  <!-- 1. 启动 Gazebo 环境 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 2. 加载 机械臂 (使用命名空间隔离) -->
  <group ns="arm">
    <include file="$(find robot_arm)/launch/arm_only.launch" />
  </group>
  
  
  <!-- 3. 加载 棋盘 (使用命名空间隔离) -->
  <group ns="board">
    <include file="$(find board_new)/launch/board_only.launch" />
  </group>



</launch>